.width_calc_milestone_icon_border(@width_height) {
  width: @width_height + @wxeo-shortcode-milestone-icon-border_border-left + @wxeo-shortcode-milestone-icon-border_border-right;
  height: @width_height + @wxeo-shortcode-milestone-icon-border_border-top + @wxeo-shortcode-milestone-icon-border_border-bottom;
}

.count_up_counter {

  .icon-box {

    border-top:   @wxeo-shortcode-milestone-icon-border_border-top @wxeo-shortcode-milestone-icon-border_border-style @wxeo-shortcode-milestone-icon-border_border-color;
    border-right: @wxeo-shortcode-milestone-icon-border_border-right @wxeo-shortcode-milestone-icon-border_border-style @wxeo-shortcode-milestone-icon-border_border-color;
    border-bottom:@wxeo-shortcode-milestone-icon-border_border-bottom @wxeo-shortcode-milestone-icon-border_border-style @wxeo-shortcode-milestone-icon-border_border-color;
    border-left:  @wxeo-shortcode-milestone-icon-border_border-left @wxeo-shortcode-milestone-icon-border_border-style @wxeo-shortcode-milestone-icon-border_border-color;


    .width_calc_milestone_icon_border(80px);

    &.xs {
      .width_calc_milestone_icon_border(40px);
    }

    &.sm {
      .width_calc_milestone_icon_border(56px);
    }

    &.lg {
      .width_calc_milestone_icon_border(120px);
    }

    i {
      margin-top:   -(@wxeo-shortcode-milestone-icon-border_border-top);
      margin-right: -(@wxeo-shortcode-milestone-icon-border_border-right);
      margin-bottom:-(@wxeo-shortcode-milestone-icon-border_border-bottom);
      margin-left:  -(@wxeo-shortcode-milestone-icon-border_border-left);
    }

  }

  &.lt .counter-content, &.rt .counter-content {
    padding-top: @wxeo-shortcode-milestone-icon-border_border-top;
    padding-bottom: @wxeo-shortcode-milestone-icon-border_border-bottom;
  }

}