.wxeo-shortcode-toggle-radius(@local-wxeo-shortcode-toggle-radius, @local-wxeo-shortcode-toggle-style) when (@local-wxeo-shortcode-toggle-style = snug) {
    
	.wpb_toggle {
	 	.border-radius(@local-wxeo-shortcode-toggle-radius);
	}

	.wpb_toggle_title_active {
	 	.border-radius-br(0);
		.border-radius-bl(0);
	}

}

.wxeo-shortcode-toggle-radius(@local-wxeo-shortcode-toggle-radius, @local-wxeo-shortcode-toggle-style) when (@local-wxeo-shortcode-toggle-style = spaced) {
    
	.wpb_toggle {
		.border-radius(@local-wxeo-shortcode-toggle-radius);
	}


}




.wxeo-shortcode-toggle-radius(@wxeo-shortcode-toggle-radius, @wxeo-shortcode-toggle-style);


