.wxeo-shortcode-accordion-radius(@local-wxeo-shortcode-accordion-radius, @local-wxeo-shortcode-accordion-style) when (@local-wxeo-shortcode-accordion-style = snug) {
    

	.wpb_accordion_wrapper .wpb_accordion_section:first-child .wpb_accordion_header {
	 	.border-radius-tr(@local-wxeo-shortcode-accordion-radius);
		.border-radius-tl(@local-wxeo-shortcode-accordion-radius);
	}

	.wpb_accordion_wrapper .wpb_accordion_section:last-child .wpb_accordion_header {
	 	.border-radius-br(@local-wxeo-shortcode-accordion-radius);
		.border-radius-bl(@local-wxeo-shortcode-accordion-radius);
	}

	.wpb_accordion_wrapper .wpb_accordion_section:last-child .wpb_accordion_header.ui-accordion-header-active {
	 	.border-radius-br(0);
		.border-radius-bl(0);
	}


}

.wxeo-shortcode-accordion-radius(@local-wxeo-shortcode-accordion-radius, @local-wxeo-shortcode-accordion-style) when (@local-wxeo-shortcode-accordion-style = spaced) {
    
	.wpb_accordion_header {
		.border-radius(@local-wxeo-shortcode-accordion-radius);
	}


}




.wxeo-shortcode-accordion-radius(@wxeo-shortcode-accordion-radius, @wxeo-shortcode-accordion-style);


