.feature-inline-list {

  .icon_border_calc(
    @wxeo-shortcode-feature-inline-list-icon-border_border-top, 
    @wxeo-shortcode-feature-inline-list-icon-border_border-right, 
    @wxeo-shortcode-feature-inline-list-icon-border_border-bottom, 
    @wxeo-shortcode-feature-inline-list-icon-border_border-left, 
    @wxeo-shortcode-feature-inline-list-icon-border_border-style, 
    @wxeo-shortcode-feature-inline-list-icon-border_border-color, 
    20px, 
    25px, 
    36px
  );

  @top_bottom: @wxeo-shortcode-feature-inline-list-icon-border_border-top + @wxeo-shortcode-feature-inline-list-icon-border_border-bottom;

  .feature-list-content {
    h3 {
      line-height: 20px + @top_bottom;
    }
  }

  &.sm .feature-list-content {
    h3 {
      line-height: 25px + @top_bottom;
    }
  }

  &.lg .feature-list-content {
    h3 {
      line-height: 36px + @top_bottom;
    }
  }


}
