.wxeo-header-style(@wxeo-header-style) when (@wxeo-header-style = full-bar) {
  .rofl {color: BLACK;};
}

.wxeo-header-style(@wxeo-header-style) when (@wxeo-header-style = two-tier) {
  .rofl {color: GREEN;};
}

.wxeo-header-style(@wxeo-header-style) when (@wxeo-header-style = bar) {
  .rofl {color: BLUE;};
}

.wxeo-header-style(@wxeo-header-style) when (@wxeo-header-style = side-line) {
  .rofl {color: PINK;};
}





.wxeo-header-style(@wxeo-header-style);