.wxeo-shortcode-feature-inline-list-icon-background(@local-wxeo-shortcode-feature-inline-list-icon-background) when (@local-wxeo-shortcode-feature-inline-list-icon-background = color) {

}

.wxeo-shortcode-feature-inline-list-icon-background(@local-wxeo-shortcode-feature-inline-list-icon-background) when (@local-wxeo-shortcode-feature-inline-list-icon-background = na) {
    
  background-color: transparent;
  font-size: 80px;

  &.xs {
    font-size: 35px;
  }

  &.sm {
    font-size: 56px;
  }
  &.lg {
    font-size: 120px;
  }

}


.feature-inline-list .icon-box {
	.wxeo-shortcode-feature-inline-list-icon-background(@wxeo-shortcode-feature-inline-list-icon-background);
}
