.feature-centered-list {
  position: relative;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;

  .feature-list-content {
    padding: 10px;
    text-align: center;

    h3 {
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-size: 16px;
      margin: 0;
      padding: 8px 0 8px 0;
      text-transform: uppercase;
    }

    p {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      color: lighten(#333333, 30%) !important;
    }

  }


  &.sm {
    .icon-box {
      font-size: 35px;
      line-height: 56px;
      width: 56px;
      height: 56px;
    }

  }

  &.lg {
    .icon-box {
      font-size: 85px;
      line-height: 120px;
      width: 120px;
      height: 120px;
    }

  }

}
