.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.border-radius-tl(@radius) {
  -webkit-border-top-left-radius: @radius;
  -moz-border-radius-topleft: @radius;
  border-top-left-radius: @radius;
}

.border-radius-tr(@radius) {
  -webkit-border-top-right-radius: @radius;
  -moz-border-radius-topright: @radius;
  border-top-right-radius: @radius;
}

.border-radius-bl(@radius) {
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-bottom-left-radius: @radius;
}

.border-radius-br(@radius) {
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-radius-bottomright: @radius;
  border-bottom-right-radius: @radius;
}



.width_calc_icon_border(@width_height, @top, @right, @bottom, @left) {
  width: @width_height + @left + @right !important;
  height: @width_height + @top + @bottom !important;
}

.icon_border_calc(@top, @right, @bottom, @left, @style, @color, @sm, @md, @lg) {

  &.sm {
    .icon-box {
      .width_calc_icon_border(@sm, @top, @right, @bottom, @left);
    }
  }

  &.lg {
    .icon-box {
      .width_calc_icon_border(@lg, @top, @right, @bottom, @left);
    }
  }

  .icon-box {
    .width_calc_icon_border(@md, @top, @right, @bottom, @left);

    border-top:   @top @style @color;
    border-right: @right @style @color;
    border-bottom:@bottom @style @color;
    border-left:  @left @style @color;

    i {
      margin-top:   -(@top);
      margin-right: -(@right);
      margin-bottom:-(@bottom);
      margin-left:  -(@left);
    }

  }

  &.lt .counter-content, &.rt .counter-content {
    padding-top: @top;
    padding-bottom: @bottom;
  }

}