.wxeo-shortcode-toggle-style(@local-wxeo-shortcode-toggle-style) when (@local-wxeo-shortcode-toggle-style = snug) {

	.wpb_toggle {
		margin-bottom: 0 !important;
	}

	.wpb_toggle_content {
		border-top: none !important;
	}	
	
}



.wxeo-shortcode-toggle-style(@local-wxeo-shortcode-toggle-style) when (@local-wxeo-shortcode-toggle-style = spaced) {



}


.wpb_toggle {
  padding: 10px 0 10px 30px !important;
  background-position: 8px !important;
  margin-top: 10px !important;
}

.wpb_toggle_content {
  background-position: 8px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 10px !important;
}


.wxeo-shortcode-toggle-style(@wxeo-shortcode-toggle-style);