.feature-list {
  float: left;
  text-align: left;
  position: relative;

  .icon-box {
    font-size: 30px !important;
    line-height: 50px !important;
    width: 50px !important;
    height: 50px !important;
    float: left;
    margin: 10px !important;
  }

  &.sm {
    .icon-box {
      font-size: 18px !important;
      line-height: 30px !important;
      width: 30px !important;
      height: 30px !important;
    }

  }

  &.lg {
    .icon-box {
      font-size: 50px !important;
      line-height: 80px !important;
      width: 80px !important;
      height: 80px !important;
    }

  }

  &.rt {
    .icon-box {
      float: right;
    }
    .feature-list-content {
      text-align: right;
    }
  }

  .feature-list-content {
    overflow: hidden;

    h3 {
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-size: 16px;
      margin: 0;
      padding: 12px 0 2px 0;
      text-transform: uppercase;
    }

    p {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      color: lighten(#333333, 30%) !important;
    }

  }



  
}
