#wxeo-container-wrap a, .site-footer a {
	color: @wxeo-general-link-color_regular;
	text-decoration: none;

	&:link, &:visited, &:active {
		color: @wxeo-general-link-color_regular;
	}

	&:hover {
		color: @wxeo-general-link-color_hover;
	}

}