.wxeo-shortcode-tabs-radius(@local-wxeo-shortcode-tabs-radius, @local-wxeo-shortcode-tabs-style) when (@local-wxeo-shortcode-tabs-style = st) {
    
	.wpb_tabs_nav {

	  li {
	  	.border-radius-tr(@local-wxeo-shortcode-tabs-radius);
	  	.border-radius-tl(@local-wxeo-shortcode-tabs-radius);
	  }

	}


}

.wxeo-shortcode-tabs-radius(@local-wxeo-shortcode-tabs-radius, @local-wxeo-shortcode-tabs-style) when (@local-wxeo-shortcode-tabs-style = ib) {
    
	.wpb_tabs_nav {

	  li {
	   	.border-radius(@local-wxeo-shortcode-tabs-radius);
	  }

	}


}



.wxeo-shortcode-tabs-radius(@local-wxeo-shortcode-tabs-radius, @local-wxeo-shortcode-tabs-style) when (@local-wxeo-shortcode-tabs-style = ut) {

	.wpb_tabs_nav {

	  li {
	  	.border-radius-tr(@local-wxeo-shortcode-tabs-radius);
	  	.border-radius-tl(@local-wxeo-shortcode-tabs-radius);
		}

	}



}

.wpb_tabs {
	.wxeo-shortcode-tabs-radius(@wxeo-shortcode-tabs-radius, @wxeo-shortcode-tabs-style);
}

