.wxeo-shortcode-accordion-style(@local-wxeo-shortcode-accordion-style) when (@local-wxeo-shortcode-accordion-style = snug) {

	.wpb_accordion_header {
		margin-bottom: 0 !important;
	}

	.wpb_accordion_content {
		border-top: none !important;
	}	
	
}



.wxeo-shortcode-accordion-style(@local-wxeo-shortcode-accordion-style) when (@local-wxeo-shortcode-accordion-style = spaced) {

	.wpb_accordion_section {
		margin-bottom: 10px;
	}

}


.wpb_accordion_header {
  /*padding: 10px 0 10px 30px !important;*/
  background-position: 8px !important;
  /*margin-top: 10px !important;*/
}

.ui-accordion-header-active {
  background-position: 8px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  /*padding: 0 10px !important;*/
}


.wxeo-shortcode-accordion-style(@wxeo-shortcode-accordion-style);