.feature-box-list {
  position: relative;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;

  background-color: #F8F8F8;
  border: 1px solid lighten(#D4D4D4, 10%);
  margin-top: 60px;


  .feature-list-content {
    padding: 10px;
    text-align: center;

    h3 {
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-size: 16px;
      margin: 0;
      padding: 8px 0 8px 0;
      text-transform: uppercase;
    }

    p {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      color: lighten(#333333, 30%) !important;
    }

  }


  .icon-box {
    margin-top: -40px;
  }

  &.sm {
    margin-top: 46px;

    .icon-box {
      margin-top: -26px;
      font-size: 35px;
      line-height: 56px;
      width: 56px;
      height: 56px;
    }

  }

  &.lg {
    margin-top: 80px;

    .icon-box {
      margin-top: -60px;
      font-size: 85px;
      line-height: 120px;
      width: 120px;
      height: 120px;
    }

  }


}
