.wxeo-shortcode-tour-radius(@local-wxeo-shortcode-tour-radius, @local-wxeo-shortcode-tour-style) when (@local-wxeo-shortcode-tour-style = st) {
    
	.wpb_tabs_nav {

	  li {
	  	.border-radius-tl(@local-wxeo-shortcode-tour-radius);
	  	.border-radius-bl(@local-wxeo-shortcode-tour-radius);
	  }

	}


}

.wxeo-shortcode-tour-radius(@local-wxeo-shortcode-tour-radius, @local-wxeo-shortcode-tour-style) when (@local-wxeo-shortcode-tour-style = ib) {
    
	.wpb_tabs_nav {

	  li {
	   	.border-radius(@local-wxeo-shortcode-tour-radius);
	  }

	}


}



.wxeo-shortcode-tour-radius(@local-wxeo-shortcode-tour-radius, @local-wxeo-shortcode-tour-style) when (@local-wxeo-shortcode-tour-style = ut) {

	.wpb_tabs_nav {

	  li {
	  	.border-radius-tl(@local-wxeo-shortcode-tour-radius);
	  	.border-radius-bl(@local-wxeo-shortcode-tour-radius);
		}

	}


}

.wpb_tour {
	.wxeo-shortcode-tour-radius(@wxeo-shortcode-tour-radius, @wxeo-shortcode-tour-style);
}

