
.wpb_tour .wpb_tabs_nav {
    .ui-tabs-active {
        border-top: @wxeo-shortcode-tour-active-border_border-top @wxeo-shortcode-tour-active-border_border-style @wxeo-shortcode-tour-active-border_border-color !important;
        border-right: @wxeo-shortcode-tour-active-border_border-right @wxeo-shortcode-tour-active-border_border-style @wxeo-shortcode-tour-active-border_border-color !important;
        border-bottom: @wxeo-shortcode-tour-active-border_border-bottom @wxeo-shortcode-tour-active-border_border-style @wxeo-shortcode-tour-active-border_border-color !important;
        border-left: @wxeo-shortcode-tour-active-border_border-left @wxeo-shortcode-tour-active-border_border-style @wxeo-shortcode-tour-active-border_border-color !important;
    }

}



