.wxeo-shortcode-tabs-style(@local-wxeo-shortcode-tabs-style) when (@local-wxeo-shortcode-tabs-style = st) {
    
	.wpb_tabs_nav {
		z-index: 95;

	  li {
	    border-bottom: none !important;
	    margin-right: 5px !important;
	    background-color: lighten(#40ACDF, 30%) !important;
	    z-index: 95;

	    a {
	    	padding: 5px 10px !important;
	    }
	  }

	  .ui-tabs-active {
	    background-color: #E5E9EC !important;
	    z-index: 100 !important;
	    position: relative;

	    a {
	    	padding: 5px 10px !important;
	    }

	    &.ui-state-hover {
	    	background-color: #E5E9EC !important; 
	  	}
	  }

	  .ui-state-hover {
	    background-color: darken(#E5E9EC, 10%) !important; 
	  }
	}

	.wpb_tab {
		z-index: 100 !important;
	  background-color: #E5E9EC !important;
	}

}

.wxeo-shortcode-tabs-style(@local-wxeo-shortcode-tabs-style) when (@local-wxeo-shortcode-tabs-style = ib) {
    

	.wpb_tabs_nav {
	  margin-bottom: 5px !important;

	  li {
	    margin-right: 5px !important;

	    a {
	    	padding: 5px 10px !important;
	    }

	  }

	}


}



.wxeo-shortcode-tabs-style(@local-wxeo-shortcode-tabs-style) when (@local-wxeo-shortcode-tabs-style = ut) {
    

	.wpb_tabs_nav {

	  li {
	  	margin-bottom: 0 !important;
	    margin-right: 5px !important;

	    a {
	    	padding: 5px 10px !important;
	    }
	  }

	}


}

.wpb_tabs {
	.wxeo-shortcode-tabs-style(@wxeo-shortcode-tabs-style);
}

