//
// Buttons
// --------------------------------------------------


@bk_color: #CCCCCC;
@txt_color: #969696;
@border_radius: 0px;

@border_sm_thick: 2px;
@border_thick: 3px;
@border_lg_thick: 4px;


@btn_height: 38px;
@btn_margin_tb: 6px;
@btn_margin_lr: 2px;
@btn_padding_tb: 8px;
@btn_padding_lr: 16px;


/* BTN SIZE */
@btn_sm_height: 24px;
@btn_sm_margin_tb: 4px;
@btn_sm_margin_lr: 1px;
@btn_sm_padding_tb: 4px;
@btn_sm_padding_lr: 12px;

@btn_lg_height: 50px;
@btn_lg_margin_tb: 8px;
@btn_lg_margin_lr: 4px;
@btn_lg_padding_tb: 8px;
@btn_lg_padding_lr: 24px;



.bttn {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  border-radius: @border_radius;
  margin: @btn_margin_tb 0;

  a {
    display: inline-block;
    padding: @btn_padding_tb 0;
    color: @txt_color;
    text-decoration: none !important;
  }

  &.square {

    a {
      -webkit-box-sizing: initial;
      -moz-box-sizing: initial;
      box-sizing: initial;
      text-align: center;
      font-size: 16px;
      width: 22px;
      height: 22px;
      line-height: 22px;
      padding: @btn_padding_tb;
      display: inline-block;
    }
  }




  /* BTN STYLES */
  .LESS-bttn-styles(@THIS_btn_height, @THIS_btn_margin_tb, @THIS_btn_margin_lr, @THIS_btn_padding_tb, @THIS_btn_padding_lr, @THIS_border_thick) {
    /*height: @THIS_btn_height;*/
    a {
      padding: @THIS_btn_padding_tb 0;
    }

    &.bttn-box {
      background-color: @bk_color;
    }

    &.bttn-bottom-line {
      background-color: transparent;
      border-radius: 0;
      margin: 0;

      a {
        margin: (@THIS_btn_padding_tb - @THIS_border_thick) 0 (@THIS_btn_padding_tb) 0;
        border-bottom: @THIS_border_thick solid @txt_color;
        /*padding: @THIS_border_thick 0 0 0;*/
        padding: 0;
      }
    }

    &.bttn-top-line {
      background-color: transparent;
      border-radius: 0;
      margin: 0;
      
      a {
        margin: (@THIS_btn_padding_tb ) 0 (@THIS_btn_padding_tb - @THIS_border_thick) 0;
        border-top: @THIS_border_thick solid @txt_color;
        padding: 0;
      }
    }

    &.bttn-border {
      
      a {
        border-radius: @border_radius;
        border: @THIS_border_thick solid @txt_color;
        padding: (@THIS_btn_padding_tb - @THIS_border_thick) (@THIS_btn_padding_lr - @THIS_border_thick);
      }
    }

    &.bttn-box-border-top {
      
      a {
        background-color: @bk_color;
        border-top: @THIS_border_thick solid @txt_color;
        vertical-align: top;
        padding-top: (@THIS_btn_padding_tb - @THIS_border_thick);
        padding-right: @THIS_btn_padding_lr;
        padding-left: @THIS_btn_padding_lr;
      }
    }

    &.bttn-box-border-bottom {
      

      a {
        background-color: @bk_color;
        border-bottom: @THIS_border_thick solid @txt_color;
        padding-bottom: (@THIS_btn_padding_tb - @THIS_border_thick);
        padding-right: @THIS_btn_padding_lr;
        padding-left: @THIS_btn_padding_lr;
      }
    }

    &.bttn-box-border-left {
      
      a {
        background-color: @bk_color;
        border-left: @THIS_border_thick solid @txt_color;
        padding-left: (@THIS_btn_padding_lr - @THIS_border_thick);
        padding-right: @THIS_btn_padding_lr;
      }
    }

    &.bttn-box-border-right {
      
      a {
        background-color: @bk_color;
        border-right: @THIS_border_thick solid @txt_color;
        padding-right: (@THIS_btn_padding_lr - @THIS_border_thick);
        padding-left: @THIS_btn_padding_lr;
      }
    }

  }


  .LESS-bttn-styles(@btn_height, @btn_margin_tb, @btn_margin_lr, @btn_padding_tb, @btn_padding_lr, @border_thick);



  /* BTN SIZE */

  &.bttn-sm {
    a {
      font-size: 12px;
    }

    &.square {
      a {
        width: 16px;
        height: 16px;
        line-height: 16px;
        padding: @btn_sm_padding_tb 0;
      }
    }

    .LESS-bttn-styles(@btn_sm_height, @btn_sm_margin_tb, @btn_sm_margin_lr, @btn_sm_padding_tb, @btn_sm_padding_lr, @border_sm_thick);

    &.bttn-bottom-line a {
      margin-bottom: 2px;
    }

  }


  &.bttn-lg {
    a {
      font-size: 24px;
    }

    &.square {
      a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        padding: @btn_lg_padding_tb 0;
      }
    }

    .LESS-bttn-styles(@btn_lg_height, @btn_lg_margin_tb, @btn_lg_margin_lr, @btn_lg_padding_tb, @btn_lg_padding_lr, @border_lg_thick);
  }



}










/* BOOTSTRAP BUTTONS
======================================== */

.btn-style() {
  color: @txt_color !important;
  text-shadow: none;
  .border-radius(0);
  
}

.btn-style-hover() {
  color: darken(@txt_color, 5%) !important;
}



/* Btn Box */
.btn-box,
.btn-box:link,
.btn-box:hover,
.btn-box:active {
  .btn-style();
  background-color: @bk_color;
}

.btn-box:hover {
  .btn-style-hover();
  background-color: darken(@bk_color, 5%);
}



/* Btn Border */
.btn-border,
.btn-border:link,
.btn-border:hover,
.btn-border:active {
  .btn-style();
  border: 2px solid @txt_color;
  
  &.btn-md {
    padding: 4px 10px;
  }

  &.btn-xs {
    padding: (@padding-xs-vertical - 2px) @padding-xs-horizontal !important;
  }

  &.btn-sm {
    padding: (@padding-small-vertical - 2px) @padding-small-horizontal;
  }

  &.btn-lg {
    border: 3px solid @txt_color;
    padding: (@padding-large-vertical - 3px) @padding-large-horizontal;
  }

  &.btn-xl {
    border: 3px solid @txt_color;
    padding: (@padding-xl-vertical - 3px) @padding-xl-horizontal;
  }
}

.btn-border:hover {
  .btn-style-hover();
  border-color: darken(@txt_color, 5%);
}



/* Btn Box Border Bottom */
.btn-box-border-bottom,
.btn-box-border-bottom:link,
.btn-box-border-bottom:hover,
.btn-box-border-bottom:active {
  .btn-style();
  border: none;
  background-color: @bk_color;
  border-bottom: 2px solid @txt_color;
  
  &.btn-md {
    padding: 6px 12px 4px 12px;
  }

  &.btn-xs {
    padding: @padding-xs-vertical @padding-xs-horizontal (@padding-xs-vertical - 2px) @padding-xs-horizontal;
  }

  &.btn-sm {
    padding: @padding-small-vertical @padding-small-horizontal (@padding-small-vertical - 2px) @padding-small-horizontal;
  }

  &.btn-lg {
    border-bottom: 3px solid @txt_color;
    padding: @padding-large-vertical @padding-large-horizontal (@padding-large-vertical - 3px) @padding-large-horizontal;
  }

  &.btn-xl {
    border-bottom: 3px solid @txt_color;
    padding: @padding-xl-vertical @padding-xl-horizontal (@padding-xl-vertical - 3px) @padding-xl-horizontal;
  }


}

.btn-box-border-bottom:hover {
  .btn-style-hover();
  border-color: darken(@txt_color, 5%);
  background-color: darken(@bk_color, 5%);
}


/* Btn Box Border Top */
.btn-box-border-top,
.btn-box-border-top:link,
.btn-box-border-top:hover,
.btn-box-border-top:active {
  .btn-style();
  border: none;
  background-color: @bk_color;
  border-top: 2px solid @txt_color;
  
  &.btn-md {
    padding: 4px 12px 6px 12px;
  }

  &.btn-xs {
    padding: (@padding-xs-vertical - 2px) @padding-xs-horizontal @padding-xs-vertical @padding-xs-horizontal;
  }

  &.btn-sm {
    padding: (@padding-small-vertical - 2px) @padding-small-horizontal @padding-small-vertical @padding-small-horizontal;
  }

  &.btn-lg {
    border-top: 3px solid @txt_color;
    padding: (@padding-large-vertical - 3px) @padding-large-horizontal @padding-large-vertical @padding-large-horizontal;
  }

  &.btn-xl {
    border-top: 3px solid @txt_color;
    padding: (@padding-xl-vertical - 3px) @padding-xl-horizontal @padding-xl-vertical @padding-xl-horizontal;
  }
}

.box-border-top:hover {
  .btn-style-hover();
  border-color: darken(@txt_color, 5%);
  background-color: darken(@bk_color, 5%);
}


/* Btn Box Border Right */
.btn-box-border-right,
.btn-box-border-right:link,
.btn-box-border-right:hover,
.btn-box-border-right:active {
  .btn-style();
  border: none;
  background-color: @bk_color;
  border-right: 2px solid @txt_color;

  &.btn-md {
    padding: 6px 10px 6px 12px;
  }

  &.btn-xs {
    padding: @padding-xs-vertical  (@padding-xs-horizontal - 2px) @padding-xs-vertical @padding-xs-horizontal;
  }

  &.btn-sm {
    padding: @padding-small-vertical (@padding-small-horizontal - 2px) @padding-small-vertical @padding-small-horizontal;
  }

  &.btn-lg {
    border-right: 3px solid @txt_color;
    padding: @padding-large-vertical (@padding-large-horizontal - 3px) @padding-large-vertical @padding-large-horizontal;
  }

  &.btn-xl {
    border-right: 3px solid @txt_color;
    padding: @padding-xl-vertical (@padding-xl-horizontal - 3px) @padding-xl-vertical @padding-xl-horizontal;
  }
}

.box-border-right:hover {
  .btn-style-hover();
  border-color: darken(@txt_color, 5%);
  background-color: darken(@bk_color, 5%);
}


/* Btn Box Border Left */
.btn-box-border-left,
.btn-box-border-left:link,
.btn-box-border-left:hover,
.btn-box-border-left:active {
  .btn-style();
  border: none;
  background-color: @bk_color;
  border-left: 2px solid @txt_color;

  &.btn-md {
    padding: 6px 12px 6px 10px;
  }

  &.btn-xs {
    padding: @padding-xs-vertical  @padding-xs-horizontal @padding-xs-vertical (@padding-xs-horizontal - 2px) !important;
  }

  &.btn-sm {
    padding: @padding-small-vertical @padding-small-horizontal @padding-small-vertical (@padding-small-horizontal - 2px);
  }

  &.btn-lg {
    border-left: 3px solid @txt_color;
    padding: @padding-large-vertical @padding-large-horizontal @padding-large-vertical (@padding-large-horizontal - 3px);
  }

  &.btn-xl {
    border-left: 3px solid @txt_color;
    padding: @padding-xl-vertical @padding-xl-horizontal @padding-xl-vertical (@padding-xl-horizontal - 3px);
  }
}

.box-border-left:hover {
  .btn-style-hover();
  border-color: darken(@txt_color, 5%);
  background-color: darken(@bk_color, 5%);
}



/* Btn Bottom Line */
.btn-bottom-line,
.btn-bottom-line:link,
.btn-bottom-line:hover,
.btn-bottom-line:active {
  .btn-style();
  .shadow-none();
  border: none;
  border-bottom: 2px solid @txt_color;
  padding: 0;
    
  &.btn-md {
    margin: 6px 12px 4px 10px;
  }

  &.btn-xs {
    margin: @padding-xs-vertical  @padding-xs-horizontal (@padding-xs-vertical - 2px) (@padding-xs-horizontal - 2px);
  }

  &.btn-sm {
    margin: @padding-small-vertical @padding-small-horizontal (@padding-small-vertical - 2px) (@padding-small-horizontal - 2px);
  }

  &.btn-lg {
    border-bottom: 3px solid @txt_color;
    margin: @padding-large-vertical @padding-large-horizontal (@padding-large-vertical - 2px) (@padding-large-horizontal - 3px);
  }

  &.btn-xl {
    border-bottom: 3px solid @txt_color;
    margin: @padding-xl-vertical @padding-xl-horizontal (@padding-xl-vertical - 2px) (@padding-xl-horizontal - 3px);
  }

}

.bottom-line:hover {
  .btn-style-hover();
  border-color: darken(@txt_color, 5%);
}



/* Btn Top Line */
.btn-top-line,
.btn-top-line:link,
.btn-top-line:hover,
.btn-top-line:active {
  .btn-style();
  .shadow-none();
  border: none;
  border-top: 2px solid @txt_color;
  padding: 0;
  
  &.btn-md {
    margin: 6px 10px 4px 12px;
  }

  &.btn-xs {
    margin: @padding-xs-vertical  (@padding-xs-horizontal - 2px) (@padding-xs-vertical - 2px) @padding-xs-horizontal;
  }

  &.btn-sm {
    margin: @padding-small-vertical (@padding-small-horizontal - 2px) (@padding-small-vertical - 2px) @padding-small-horizontal;
  }

  &.btn-lg {
    border-top: 3px solid @txt_color;
    margin: @padding-large-vertical (@padding-large-horizontal - 3px) (@padding-large-vertical - 2px) @padding-large-horizontal;
  }

  &.btn-xl {
    border-top: 3px solid @txt_color;
    margin: @padding-xl-vertical (@padding-xl-horizontal - 3px) (@padding-xl-vertical - 2px) @padding-xl-horizontal;
  }
}

.btn-top-line:hover {
  .btn-style-hover();
  border-color: darken(@txt_color, 5%);
}



/*
.btn-xl, .btn-group-xl > .btn {
  padding: 14px 24px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-xl, .btn-group-xl > .btn {
  padding: 14px 24px;
  font-size: 24px;
  line-height: 1.33;
}


*/
