
/* Post Meta Devide */
.post-meta-devide {
  font-size: 20px;
  color: #EEEEEE;
}

.entry-meta {
  
}
/*
Theme Name: WXEO Wun
Theme URI: http://wxeo.com/wun
Author: WXEO
Author URI: http://wxeo.com
Description: Epic Theme
Version: 1.0

Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: wxeo_wun
*/


/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic);


// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Reset
@import "normalize.less";
@import "print.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "code.less";
@import "grid.less";
@import "tables.less";
@import "forms.less";
@import "buttons.less";
@import "buttons-custom.less";

// Components
@import "component-animations.less";
@import "glyphicons.less";
@import "dropdowns.less";
@import "button-groups.less";
@import "input-groups.less";
/*@import "navs.less";*/
/*@import "navbar.less";*/
@import "breadcrumbs.less";
@import "pager.less";
@import "labels.less";
@import "badges.less";
@import "jumbotron.less";
@import "thumbnails.less";
@import "alerts.less";
@import "progress-bars.less";
@import "media.less";
@import "list-group.less";
@import "panels.less";
@import "wells.less";
@import "close.less";

// Components w/ JavaScript
@import "modals.less";
@import "tooltip.less";
@import "popovers.less";
@import "carousel.less";

// Utility classes
@import "utilities.less";
@import "responsive-utilities.less";



@header_xs_height:  38px;
@header_sm_height:  50px;
@header_height:     70px;
@header_lg_height:  90px;


.after() {
    &:after {
      content: "";
      clear: both;
      display: block;
    }
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.shadow-none() {
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}


.show {
  display: block !important;
}

body {
  /*margin: 0;*/
  /*padding: 0;*/
  background-color: #ffffff;
  /*background-color: #E5E9EC;*/
}

/*.container {
  width: 960px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}
*/


header .responsive a {
  margin: 6px;
  padding: 2px;
  background-color: #CCCCCC;
  display: block;
  float: right;
  width: 50px;

  span {
    width: 38px;
    height: 6px;
    display: block;
    margin: 4px;
    background-color: #969696;
  }
}

header.navigation-side-line {
  width: 260px;
  float: left;

  nav ul {
    ul {
      top: 0;
      left: 100%;

      ul {
        top:0;
        left: 100%; 
      }
    }
  }

  .search-classic {
    width: 100% !important;
    float: none !important;
    margin: 10px 0 !important;
  }

  .container {
    width: auto;
    padding: 0;
  }


  .logo {
    float: none;
    margin: 6px;
    width: 248px;
    height: auto;

    img {
      width: 248px;
      height: auto;
    }

  }

  .divide {
    margin: 0 6px;
    height: 1px;
    width: @header_height;
    background-color: #CCCCCC;
    display: block;

    &.rt {
      float: right;
    }

    &.lt {
      float: left;
    }

    &.md {
      width: 100%;
      height: 1px;
      margin:0;
      float: left;
    }

  }

  nav {
    margin: 6px;

    ul.mini-menu {
      text-align: center;
      width: 248px;
      height: 50px;
      margin: 0;
      padding: 0;
      clear: both;

      li {
        display:inline-block;
        *display:inline; // IE7
        *zoom:1; // IE7

        float: none !important;
        
        &.bttn-full {
          margin: 0 !important;
          padding: 0 !important;
          height: 50px !important;
          line-height: 50px !important;
        }       
        
      }
    }

    ul.main-menu {
      width: auto;
      float: left;
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;

      li {
        margin: 3px 0;
        
        a {
          width: 248px;
          
        }

        ul {
          @media (min-width: @grid-float-breakpoint) {
            padding-left: 6px;
          }
          

          ul {
            padding-left: 0;
          }
        }
      }
    }

  
  }


}



header.navigation {
  width: 100%;
  height: @header_height;

  .menu li {
    padding: 6px 0px;
    margin: 0;
  }

  .menu li.bttn-space-sm {
    padding-left: 2px;
    padding-right: 2px;
  }

  .menu li.bttn-space-md {
    padding-left: 5px;
    padding-right: 5px;
  }

  .menu li.bttn-space-lg {
    padding-left: 10px;
    padding-right: 10px;
  }


  &.nav-xs {
    height: @header_xs_height;

    .menu .bttn-sm {
      padding-top: 7px;
      padding-bottom: 6px;
      margin: 0;
    }

    .menu .bttn-md {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .divide {
      height: @header_xs_height;
    }

    .logo {
      height: @header_xs_height;
    }

    nav ul.mini-menu li {
      margin-top: 3px !important;
      margin-bottom: 3px !important;
    }

    nav ul.mini-menu li.bttn-full {
      height: @header_xs_height !important;
      line-height: @header_xs_height !important;
      margin: 0 !important;
    }

    .search-slide {
      height: @header_xs_height;
      line-height: @header_xs_height;

      input {
        padding: 8px;
        font-size: 22px !important;
      }
      
      a i {
        margin: ((@header_xs_height / 2) - 10px) 10px;
        font-size: 22px !important;
      }

    }

    .search-classic {
      margin: 2px 10px;
    }




  }

  .search-classic {
    .input-group-sm {
      margin: 2px 0;
    }
  }

  &.nav-sm {
    height: @header_sm_height;

    .menu .bttn-sm {
      padding-top: 13px;
      padding-bottom: 12px;
      margin: 0;
    }

    .menu .bttn-lg {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .divide {
      height: @header_sm_height;
    }

    .logo {
      height: @header_sm_height;
    }

    .bttn-full {
      height: @header_sm_height !important;
      line-height: @header_sm_height !important;
      margin: 0 !important;
    }

    .search-slide {
      height: @header_sm_height;
      line-height: @header_sm_height;
  
      input {
        padding: 8px;
        font-size: 30px !important;
      }

      a i {
        margin: ((@header_sm_height / 2) - 15px) 10px;
        font-size: 30px !important;
      }

    }

    .search-classic {
      margin: 8px 10px;
    }

  }

  &.nav-md {
    height: @header_height;
    
    .menu .bttn-sm {
      padding-top: 23px;
      padding-bottom: 22px;
      margin: 0;
    }

    .menu .bttn-lg {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .divide {
      height: @header_height;
    }

    .logo {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    nav ul.mini-menu li {
      margin-top: 19px !important;
      margin-bottom: 19px !important;
    }
    /*nav ul.mini-menu li.bttn-full {
      margin: 0 !important;
    }*/

  } 

  &.nav-lg {
    height: @header_lg_height;
    
    .menu .bttn-sm {
      padding-top: 33px;
      padding-bottom: 32px;
      margin: 0;
    }

    .menu .bttn-lg {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .divide {
      height: @header_lg_height;
    }

    .logo {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    nav ul.mini-menu li {
      margin-top: 29px !important;
      margin-bottom: 29px !important;
    }

    nav ul.mini-menu li.bttn-full {
      height: @header_lg_height !important;
      line-height: @header_lg_height !important;
      margin: 0 !important;
    }

    .search-slide {
      height: @header_lg_height;
      line-height: @header_lg_height;

      a i {
        margin: ((@header_sm_height / 2) - 15px) 10px;
        font-size: 30px !important;
      }
    }

    .search-classic {
      margin: 28px 10px;
    }
  }


  .logo {
    width: auto;
    height: @header_height;
    float: left;
    margin: 0 6px 0 0;

    &.rt {
      float: right;
      margin: 0 0 0 6px;
    }

    &.lt {
      float: left;
      margin: 0 6px 0 0;
    }
  }

  .divide {
    margin: 0 6px;
    width: 1px;
    height: @header_height;
    background-color: #CCCCCC;
    display: block;

    &.rt {
      float: right;
    }

    &.lt {
      float: left;
    }

    &.md {
      width: 100%;
      height: 1px;
      margin:0;
      float: left;
    }

  }

  nav.menu-container {

    &.rt {
      margin-right: 6px;
      float: right;
    }

    &.lt {
      margin-left: 6px;
      float: left;
    }
  
    @media (max-width: @grid-float-breakpoint) {
      .divide {
        display: none;
      }
    }

  }




  ul.menu {
    width: auto;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;

    &.rt-menu {
      float: right;

      li:first-child {
        margin-left: 6px;
      }

    }

    &.lt-menu {
      float: left;

      li:first-child {
        margin-left: 6px;
      }
      
    }

    li {      
      float: left;
    }

  }


  &.menu-center {

    @media (min-width: @grid-float-breakpoint) {
      nav.menu-container {
        margin: 0 auto;
        display: table;
      }

      ul.menu {
        display: inline-block; 
        margin: 0 auto;

        li {
          /*display: inline;*/
        }
      }


      &.mini-menu-right {
        
        ul.menu {
          &.mini-menu {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0;
            float: none;
          }
        }

      }

      &.mini-menu-left {

        ul.menu {
          &.mini-menu {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0;
            float: none;
          }
        }

      }


      &.mini-menu-right {
        
        ul.menu {
          &.mini-menu {
            float: right;
          }
        }

      }

      &.mini-menu-left {

        ul.menu {
          &.mini-menu {
            float: left;
          }
        }

      }


  
    }


  }

}


.two-tier {
  padding: 10px 0;
  text-align: center;

  .logo-center {
    float: none;
    display: inline-block; 
  }

  &.rt {
    float: right;
  }

  &.lt {
    float: left;
  }
}

/*
.search-slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: @header_height;
  line-height: @header_height;
  z-index: 999;
  background-color: #ffffff;

  .after();

  input {
    width: 100%;
    height: inherit;
    padding: 8px;
    font-size: 30px !important;
    line-height: normal !important;
    float: left;
    border: none;
    outline: none;
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;     

     i {
      margin: ((@header_height / 2) - 15px) 10px;
      font-size: 30px !important;
     }
  }
}*/


.navigation-side-line {
  .search-slide {
    position: absolute;
    left: 100%;
    top: 0;
    height: 50px !important;
    line-height: 50px !important;

    a i {
      margin: ((50px / 2) - 10px) 10px;
    }
  }
}


header {
  position: relative;
  background-color: #ffffff;
  /*-webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);*/
  /*box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);*/
  /*border-bottom-width: 0;*/

  .after();

/*  .wxeo-search {
    i {
      font-size: 20px !important;
    }

    &.search-classic {
      width: 250px;
      float: right;
      margin: 18px 10px;
    }

    .search-open {
      position: absolute;
      left: -199px;
      top: 0;
      width: 230px;
      height: 34px;
      line-height: 34px;
      z-index: 999;

      .after();

      input {
        width: 200px;
        height: 32px;
        padding: 8px;
        font-size: 14px !important;
        line-height: normal !important; 
        float: left;
        border: 1px solid #CCCCCC;
        outline: none;
      }
    }


  }*/


  .navigation {
    nav ul.mini-menu {
      text-align: center;
      float: none;

      li.bttn-full {
        float: none;
        display: inline-block;
        height: @header_height !important;
        line-height: @header_height !important;
      }
    }
  }


  nav ul {
    position: relative;

    &.mini-menu {
      
      li {
        border-radius: 500px;
        width: 32px !important;
        height: 32px !important;
        line-height: 32px !important;
        position: relative;

        &.square {
          background-color: #CCCCCC;
        }

        -webkit-box-sizing: initial;
        -moz-box-sizing: initial;
        box-sizing: initial;
        text-align: center;

        padding: 0 !important;
        margin: 9px 2px !important;

        display:inline-block;
        *display:inline; // IE7
        *zoom:1; // IE7
        
        a {
          font-size: 16px !important;
          padding: 0 !important;
          margin: 0 !important;
          width: auto !important;
          height: auto !important;
        }

        &.bttn-full {
          margin: 0 !important;
          padding-top: 0 !important;
          padding-bottom: 0 !important;
          border-radius: 0 !important;
        }

      }
    }


    ul {
      z-index: 999;
      margin-top: 0;
      
      display: none;
      width: 180px;
    
      border-radius: 0px;
      padding: 0;
      position: absolute;
      top: 100%;


      ul {
        position: absolute; 
        left: 100%; 
        top:0;
      }
    
      li {
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        height: auto !important;
        overflow: initial !important;

        float: none; 
        position: relative;

        a {
          padding: 10px !important;
          text-align: left;
          border: 0 !important;
          margin: 0 !important;
          width: 100% !important;
          height: auto !important;
          overflow: initial !important;
          border-bottom: 1px solid lighten(#969696, 15%) !important;
          transition: padding-left 0.5s ease;
          background-color: #CCCCCC;

          &:hover {
            background-color: lighten(#969696, 15%);
            color: #969696 !important;
            padding-left: 15px !important;
          }

          &:link, &:active {
            text-decoration: none;
            color: #969696 !important;
          }

          &:last-child {
            border-bottom: 0;
          }

          @media (min-width: @grid-float-breakpoint) {
            font-size: 13px !important;
          }

        }
      }
    }



    .after();

    li {
      float: left;

      &:hover > ul {
        display: block;
      }

      a {
        display: block;
      }
    }

       

  }


  @media (max-width: @grid-float-breakpoint) {
    width: 100% !important;
    height: @header_sm_height !important;

    .container {
      width: 100% !important;
      padding: 0;
      margin: 0;
    }

    .logo, .logo img {
      margin: 0 !important;
      width: auto !important;
      height: @header_sm_height !important;
    }

    nav {
      margin: 0 !important;
      padding: 0 !important;
      width: 100%;
      display:none;

      ul {
        background-color: #CCCCCC;
        width: 100% !important;

        &.mini-menu li a {
            width: auto !important;
        }

        li {
          border: 0 !important;
          margin: 0 !important;
          padding: 0 !important;
          width: 100% !important;
          height: auto !important;
          overflow: initial !important;

          &:hover > ul {
            display: none;
          }

/*          ul li:hover > ul {
            display: none;
          }*/

          a {
            padding: 10px !important;
            text-align: left;
            border: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            height: auto !important;
            overflow: initial !important;
            font-size: 18px !important;
            border-bottom: 1px solid lighten(#969696, 15%) !important;
            


            /*&:hover {
              background-color: lighten(#969696, 15%);
              color: #969696 !important;
            }*/

            &:link, &:active {
              text-decoration: none;
              color: #969696 !important;
            }

          }

          ul {
            position: initial;
            top: initial;
            width: 100%;
            border-top: 1px solid #CCCCCC;       
                     
            /*&:hover {
              border-top: none;
            }*/

            li {

              a {
                background-color: #BCBCBC !important;
                color: #969696 !important;
                border-color: #CCCCCC !important;
                padding-left: 20px !important;

                /*&:hover {
                  background-color: #CCCCCC !important;
                  color: lighten(#969696, 5%) !important;
                  border-color: lighten(#969696, 15%) !important;
                  padding-left: 20px !important;
                }*/

                &:link, &:active {
                  color: #969696 !important;
                }

                ul {
                  position: initial;
                  left: initial;
                  top: initial;
                }
              }

              ul li a, ul li a:hover {
                padding-left: 30px !important;
              }

            }

          }

        }


      }

    }


  }

}




 /*NAV END*/

/*.wpb_revslider_element {
  margin-top: -20px;
}*/

main {
  /*padding: 10px;*/
  /*margin-top: 10px;*/
  width: 100%;
  background-color: #ffffff;
}

.asidebar {

  main {
    float: left;
  }

  .sidebar {
    padding: 10px;
    /*margin-top: 10px;*/
    background-color: #ffffff;
    width: 100%;
    float: right;
  }

}


footer#site-footer-widgets {
  border-top: 1px solid lighten(#B4B4B4, 10%);
  background-color: #EEEEEE;
  padding: 20px 0;
  margin-top: 40px;
}

footer#site-footer-small {
  border-top: 1px solid lighten(#B4B4B4, 15%);
  background-color: darken(#EEEEEE, 2%);
  padding: 15px 0;
}




/* ICON BOXED OR NAKED */
.icon-box {
  display: inline-block;
  font-size: 55px;
  line-height: 80px;
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: bottom;
  background-color:#F1F1F1;
  color:#909090;
  margin: 0px 10px;

  &.xs {
    font-size: 24px;
    line-height: 40px;
    width: 40px;
    height: 40px;
  }

  &.sm {
    font-size: 35px;
    line-height: 56px;
    width: 56px;
    height: 56px;
  }

  &.lg {
    font-size: 85px;
    line-height: 120px;
    width: 120px;
    height: 120px;
  }

  &.naked {
    background-color:transparent;
    font-size: 80px;

    &.xs {
      font-size: 35px;
    }

    &.sm {
      font-size: 56px;
    }

    &.lg {
      font-size: 120px;
    }
  }
}


/* Milestone Counter */
.count_up_counter {
  text-align: center;
  width: 100%;
  .after();

  .counter-content {
    font-size: 30px;
    width: 100%;
    margin-top: 20px;
    line-height: 25px;
  }

  h4 {
    font-size: 18px;
  }

}





/* Gallery Post Slider */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }




.rslides {
  margin: 0 auto;
  }

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.rslides1_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  z-index: 99;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("http://responsiveslides.com/with-captions/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.rslides1_nav:active {
  opacity: 1.0;
  }

.rslides1_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.rslides2_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.rslides2_nav.next {
  left: auto;
  right: 0;
  }

.rslides3_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }

.rslides3_nav:active {
  opacity: 1.0;
  }

.rslides3_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.rslides1_nav:focus,
.rslides2_nav:focus,
.rslides3_nav:focus {
  outline: none;
  }

.rslides_tabs {
  margin-top: 10px;
  text-align: center;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.rslides_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.rslides_tabs .rslides_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }

.caption {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;
  background: #000;
  background: rgba(0,0,0, .8);
  color: #fff;
}



/* image helper */
.full-img {
  width: 100%;
  height: auto;
}




/* SIDEBAR 
======================================== */


.sidebar .widget {

  .widget-title {
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid darken(#EEEEEE, 5%);
  }

  ul {
    padding: 0;

    li {
      list-style: none;
      border-bottom: 1px solid #EEEEEE;
      padding: 5px 6px;
    }
  }

  /* CALENDAR */
  #wp-calendar {
    width: 100%;

    caption { 
      text-align: center;
      color: #333;
      font-size: 14px;
      margin-bottom: 15px;
    }

    thead { 
      font-size: 10px;

      th { 
        padding-bottom: 10px;
        text-align: center;
      }
    }
    
    tbody { 
      color: #aaa;

      td {
        background: #f5f5f5;
        border: 1px solid #fff;
        text-align: center;
        padding: 8px;

        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
          padding: 3px;
        }

        &:hover {
          background: #fff;
        }
      }

      .pad {
        background: none;
      }
    }
    

    tfoot {
      #next {
        font-size: 10px;
        text-transform: uppercase;
        text-align: right; 
        padding-right: 5px;
      }

      #prev {
        font-size: 10px;
        text-transform: uppercase;
        padding-top: 10px;
        padding-left: 5px;
      }
    }
    
  }



}





/* PAGE HEADING
======================================== */
#wxeo-page-heading {
  width: 100%;
  min-height: 100px;
  background-color: darken(#E5E9EC, 5%);
  padding: 10px 0;

  h1 {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
  }
}




.wxeo-cart span {
  background-color: #DB3951;
  color: #ffffff;
  font-size: 10px;
  height: 15px;
  min-width: 15px;
  line-height: 15px;
  padding: 0 3px;
  text-align: center;
  .border-radius(500px);
  position: absolute;
  top: 0;
  right: 0;
}





/* PORTFOLIO
======================================== */


.portfolio-shortcode {
  
  .portfolio-item {
    position: relative;
    padding-left: 0;
    padding-right: 0;

    .wxeo-caption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;

      background-color: rgba(0,0,0,0.6);
      color: #ffffff;
      text-align: center;

      h3 {
        font-size: 16px;
      }

      p {
        font-size: 12px;
      }

    }

  }
}




/* COMMENT FORM
======================================== */

#commentform label, #commentform small {
  margin-top: 15px;
}







/* BLOG 
======================================== */

/* Post Meta Devide */
.post-meta-devide {
  font-size: 16px;
  color: #EEEEEE;
}

.entry-meta {
  font-size: 12px;
  color: #545454;
  margin-bottom: 10px;
}


/* Classic Blog Style */
.blog-classic {
  .entry-meta a.read-more {
    margin-right: 5px;
    margin-top: -1px;
  }
}


.blog-border-meta {
  .entry-meta {
    border-top: 1px solid #D6DDE1;
    border-bottom: 1px solid #D6DDE1;
    padding: 5px;

    i {
      margin-right: 5px;
    }

    .post-meta-devide {
      font-size: 12px;
      padding: 0 6px;
      color: #D6DDE1;
    }
  }

  /*.entry-meta a.read-more {
    margin-right: 5px;
    margin-top: -1px;
  }*/
}



.blog-timestamp-fill .timestamp time {
  background-color: #CCCCCC;

  span {
    background-color: darken(#CCCCCC, 15%);
    color: darken(#969696, 40%);
    
    &.year {
      background-color: darken(#CCCCCC, 25%);
    }
  }
}

.blog-timestamp-border .timestamp time {
  border: 2px solid #969696;
  color: #969696;

  span {
    border-top: 2px solid #969696;
    
    &.year {
      border-top: 2px solid #969696;
    }
  }
}



.blog-timestamp .timestamp time {
  width: 70px;
  height: auto;
  display: block;
  margin-right: 10px;
  margin-top: 25px;
  text-align: center;
  position: relative;
  font-size: 40px;
  padding: 0px;
  line-height: 56px;
  .after();

  span {
    font-size: 18px;
    width: 100%;
    padding: 3px 0;
    margin: 0;
    display: block;
    line-height: 25px;
  }
}

.blog-timestamp-content-left .timestamp time {
  width: 70px;
  height: auto;
  display: block;
  margin-right: 10px;
  margin-top: 25px;
  text-align: center;
  position: relative;
  font-size: 40px;
  padding: 0px;
  line-height: 56px;
  .after();

  span {
    font-size: 18px;
    width: 100%;
    padding: 3px 0;
    margin: 0;
    display: block;
    line-height: 25px;
    
  }
}

.blog-timestamp-block-left {
  .timestamp time {
    margin: 0;
  }
}


.article-img {
  position: relative;

/*  img {
    width: 100%;
    height: auto;
  }
*/
  .timestamp {
    position: absolute;
    top: 20px;
    left: 20px;

    time {
      margin: 0;
    }
  }
}


.author-pic-article {
  .article-img {
    position: relative;

    .author-pic-center {
      width: 70px;
      height: 70px;
      margin: -35px auto 0 auto;
      overflow: hidden;
      .border-radius(50%);
      padding: 5px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        padding: 0;
        .border-radius(50%);
      }
    }

    .author-pic {
      width: 70px;
      height: 70px;
      margin: 0;
      overflow: hidden;
      .border-radius(50%);
      padding: 5px;
      position: absolute;

      &.bl {
        bottom: 10px;
        left: 10px;
      }

      &.br {
        bottom: 10px;
        right: 10px;
      }

      &.tr {
        top: 10px;
        right: 10px;
      }

      &.tl {
        top: 10px;
        left: 10px;
      }

      img {
        width: 100%;
        height: 100%;
        padding: 0;
        .border-radius(50%);
        -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.55);
        -moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.55);
        box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.55);
      }
    }



  }
}


.blog-content {
  display: block;
  overflow: hidden;
  zoom: 1;
}
































