.wpb_accordion_content {
	border: @wxeo-shortcode-accordion-content-border_border-top @wxeo-shortcode-accordion-content-border_border-style @wxeo-shortcode-accordion-content-border_border-color;
	border-bottom: none !important;
}

.wpb_accordion_wrapper .wpb_accordion_section:last-child .wpb_accordion_content {
	border-bottom: @wxeo-shortcode-accordion-content-border_border-top @wxeo-shortcode-accordion-content-border_border-style @wxeo-shortcode-accordion-content-border_border-color !important;
}


