.wxeo-shortcode-feature-list-position(@local-wxeo-shortcode-feature-list-position) when (@local-wxeo-shortcode-feature-list-position = lt) {

    &.lt {
      text-align: left !important;

      .counter-content {
        font-size: 40px;
        line-height: 30px;
      }

      .icon-box {
        float: left;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-right: 20px;
      }
    }

}

.wxeo-shortcode-feature-list-position(@local-wxeo-shortcode-feature-list-position) when (@local-wxeo-shortcode-feature-list-position = rt) {

    &.rt {
      text-align: right !important;

      .counter-content {
        font-size: 40px;
        line-height: 30px;
      }

      .icon-box {
        float: right;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 20px;
      }
    }

}


.wxeo-shortcode-feature-list-position(@local-wxeo-shortcode-feature-list-position) when (@local-wxeo-shortcode-feature-list-position = cn) {

}

.feature-list{
	.wxeo-shortcode-feature-list-position(@wxeo-shortcode-feature-list-position);
}
