
.wpb_tabs .wpb_tabs_nav {
    li {
        border-top: @wxeo-shortcode-tabs-inactive-border_border-top @wxeo-shortcode-tabs-inactive-border_border-style @wxeo-shortcode-tabs-inactive-border_border-color;
        border-right: @wxeo-shortcode-tabs-inactive-border_border-right @wxeo-shortcode-tabs-inactive-border_border-style @wxeo-shortcode-tabs-inactive-border_border-color;
        border-bottom: @wxeo-shortcode-tabs-inactive-border_border-bottom @wxeo-shortcode-tabs-inactive-border_border-style @wxeo-shortcode-tabs-inactive-border_border-color;
        border-left: @wxeo-shortcode-tabs-inactive-border_border-left @wxeo-shortcode-tabs-inactive-border_border-style @wxeo-shortcode-tabs-inactive-border_border-color;
    }

}



