.wxeo-shortcode-accordion-content-radius(@local-wxeo-shortcode-accordion-content-radius, @local-wxeo-shortcode-accordion-style) when (@local-wxeo-shortcode-accordion-style = snug) {
   
  .wpb_accordion_wrapper .wpb_accordion_section:last-child .wpb_accordion_content {
	 	.border-radius-br(@local-wxeo-shortcode-accordion-content-radius);
	 	.border-radius-bl(@local-wxeo-shortcode-accordion-content-radius);
	}

}

.wxeo-shortcode-accordion-content-radius(@local-wxeo-shortcode-accordion-content-radius, @local-wxeo-shortcode-accordion-style) when (@local-wxeo-shortcode-accordion-style = spaced) {
    
	.wpb_accordion_content {
	 	.border-radius-br(@local-wxeo-shortcode-accordion-content-radius);
	 	.border-radius-bl(@local-wxeo-shortcode-accordion-content-radius);
	}

}


.wxeo-shortcode-accordion-content-radius(@wxeo-shortcode-accordion-content-radius, @wxeo-shortcode-accordion-style);