.wpb_toggle {
	border-top: @wxeo-shortcode-toggle-border_border-top @wxeo-shortcode-toggle-border_border-style @wxeo-shortcode-toggle-border_border-color;
	border-right: @wxeo-shortcode-toggle-border_border-right @wxeo-shortcode-toggle-border_border-style @wxeo-shortcode-toggle-border_border-color;
	border-bottom: @wxeo-shortcode-toggle-border_border-bottom @wxeo-shortcode-toggle-border_border-style @wxeo-shortcode-toggle-border_border-color;
	border-left: @wxeo-shortcode-toggle-border_border-left @wxeo-shortcode-toggle-border_border-style @wxeo-shortcode-toggle-border_border-color;
}
