.wxeo-shortcode-tabs-content-radius(@local-wxeo-shortcode-tabs-content-radius, @local-wxeo-shortcode-tabs-style) when (@local-wxeo-shortcode-tabs-style = st) {
    
	.wpb_tab {
		.border-radius-br(@local-wxeo-shortcode-tabs-content-radius);
		.border-radius-bl(@local-wxeo-shortcode-tabs-content-radius);
		.border-radius-tr(@local-wxeo-shortcode-tabs-content-radius);
	}

}

.wxeo-shortcode-tabs-content-radius(@local-wxeo-shortcode-tabs-content-radius, @local-wxeo-shortcode-tabs-style) when (@local-wxeo-shortcode-tabs-style = ib) {
    
	.wpb_tab {
		.border-radius(@local-wxeo-shortcode-tabs-content-radius);
	}

}



.wxeo-shortcode-tabs-content-radius(@local-wxeo-shortcode-tabs-content-radius, @local-wxeo-shortcode-tabs-style) when (@local-wxeo-shortcode-tabs-style = ut) {

	.wpb_tab {
		.border-radius-br(@local-wxeo-shortcode-tabs-content-radius);
		.border-radius-bl(@local-wxeo-shortcode-tabs-content-radius);
		.border-radius-tr(@local-wxeo-shortcode-tabs-content-radius);
	}

}

.wpb_tabs {
	.wxeo-shortcode-tabs-content-radius(@wxeo-shortcode-tabs-content-radius, @wxeo-shortcode-tabs-style);
}

