
.feature-inline-list {
  float: left;
  text-align: left;
  position: relative;

  .feature-list-content {
    overflow: hidden;

    h3 {
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-size: 16px;
      margin: 0;
      padding: 12px 0 2px 0;
      text-transform: uppercase;
    }

    p {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      color: lighten(#333333, 30%) !important;
    }

  }


  .icon-box {
    font-size: 16px !important;
    line-height: 25px !important;
    width: 25px !important;
    height: 25px !important;
    margin: 0 6px 0 0;
  }

  .feature-list-content {
    h3 {
      line-height: 25px;
    }
  }

  &.sm {
    .icon-box {
      font-size: 12px !important;
      line-height: 20px !important;
      width: 20px !important;
      height: 20px !important;
    }

    .feature-list-content {
      h3 {
        line-height: 20px;
      }
    }

  }

  &.lg {
    .icon-box {
      font-size: 24px !important;
      line-height: 36px !important;
      width: 36px !important;
      height: 36px !important;
    }

    .feature-list-content {
      h3 {
        line-height: 36px;
      }
    }

  }


  &.rt {
    .icon-box {
      float: right;
      margin: 0 0 0 6px;
    }
    .feature-list-content {
      text-align: right;
    }
  }  

}

