.wxeo-shortcode-tour-content-radius(@local-wxeo-shortcode-tour-content-radius, @local-wxeo-shortcode-tour-style) when (@local-wxeo-shortcode-tour-style = st) {
    
	.wpb_tab {
		.border-radius-tr(@local-wxeo-shortcode-tour-content-radius);
		.border-radius-bl(@local-wxeo-shortcode-tour-content-radius);
		.border-radius-br(@local-wxeo-shortcode-tour-content-radius);
	}

}

.wxeo-shortcode-tour-content-radius(@local-wxeo-shortcode-tour-content-radius, @local-wxeo-shortcode-tour-style) when (@local-wxeo-shortcode-tour-style = ib) {
    
	.wpb_tab {
		.border-radius(@local-wxeo-shortcode-tour-content-radius);
	}

}



.wxeo-shortcode-tour-content-radius(@local-wxeo-shortcode-tour-content-radius, @local-wxeo-shortcode-tour-style) when (@local-wxeo-shortcode-tour-style = ut) {

	.wpb_tab {
		.border-radius-tr(@local-wxeo-shortcode-tour-content-radius);
		.border-radius-bl(@local-wxeo-shortcode-tour-content-radius);
		.border-radius-br(@local-wxeo-shortcode-tour-content-radius);
	}

}

.wpb_tour {
	.wxeo-shortcode-tour-content-radius(@wxeo-shortcode-tour-content-radius, @wxeo-shortcode-tour-style);
}

