.wpb_tabs {
  
	.wpb_tabs_nav {

	  .ui-tabs-active {
	    background-color: @wxeo-shortcode-tabs-background-color !important;
	    &.ui-state-hover {
		  	background-color: @wxeo-shortcode-tabs-background-color !important; 
		  }
	  }

	}



	.wpb_tab {
	  background-color: @wxeo-shortcode-tabs-background-color !important;
	}

}