.wpb_accordion_header {
	border-top: @wxeo-shortcode-accordion-border_border-top @wxeo-shortcode-accordion-border_border-style @wxeo-shortcode-accordion-border_border-color;
	border-right: @wxeo-shortcode-accordion-border_border-right @wxeo-shortcode-accordion-border_border-style @wxeo-shortcode-accordion-border_border-color;
	border-bottom: @wxeo-shortcode-accordion-border_border-bottom @wxeo-shortcode-accordion-border_border-style @wxeo-shortcode-accordion-border_border-color;
	border-left: @wxeo-shortcode-accordion-border_border-left @wxeo-shortcode-accordion-border_border-style @wxeo-shortcode-accordion-border_border-color;

	border-top: none; 
}


.wpb_accordion_wrapper .wpb_accordion_section:first-child .wpb_accordion_header {
	border-top: @wxeo-shortcode-accordion-content-border_border-top @wxeo-shortcode-accordion-content-border_border-style @wxeo-shortcode-accordion-content-border_border-color !important;
}

.wpb_accordion_wrapper .wpb_accordion_content.ui-accordion-content-active {
	border-bottom: @wxeo-shortcode-accordion-content-border_border-top @wxeo-shortcode-accordion-content-border_border-style @wxeo-shortcode-accordion-content-border_border-color !important;
}
