.wpb_tabs {

  .wpb_tabs_nav {
  	z-index: 95;

    li {
      margin-bottom: -(@wxeo-shortcode-tabs-border_border-bottom) !important;
    }

    .ui-tabs-active {
      border-color: @wxeo-shortcode-tabs-border_border-color;

      a {
        /*.wxeo-shortcode-tabs-style(@local-wxeo-shortcode-tabs-style) when (@local-wxeo-shortcode-tabs-style = ut) {*/
          /*padding-bottom: (5px + @wxeo-shortcode-tabs-border_border-bottom) !important;*/
        /*}*/
      }

      border-top: @wxeo-shortcode-tabs-border_border-top @wxeo-shortcode-tabs-border_border-style @wxeo-shortcode-tabs-border_border-color;
      border-right: @wxeo-shortcode-tabs-border_border-right @wxeo-shortcode-tabs-border_border-style @wxeo-shortcode-tabs-border_border-color;
      border-left: @wxeo-shortcode-tabs-border_border-left @wxeo-shortcode-tabs-border_border-style @wxeo-shortcode-tabs-border_border-color;


    }

  }

  .wpb_tab {
    border-top: @wxeo-shortcode-tabs-border_border-top @wxeo-shortcode-tabs-border_border-style @wxeo-shortcode-tabs-border_border-color;
    border-right: @wxeo-shortcode-tabs-border_border-right @wxeo-shortcode-tabs-border_border-style @wxeo-shortcode-tabs-border_border-color;
    border-bottom: @wxeo-shortcode-tabs-border_border-bottom @wxeo-shortcode-tabs-border_border-style @wxeo-shortcode-tabs-border_border-color;
    border-left: @wxeo-shortcode-tabs-border_border-left @wxeo-shortcode-tabs-border_border-style @wxeo-shortcode-tabs-border_border-color;
  }

}