
@header_xs_height:  38px;
@header_sm_height:  50px;
@header_height:     70px;
@header_lg_height:  90px;


.after() {
    &:after {
      content: "";
      clear: both;
      display: block;
    }
}

/*.wxeo-search-i() {
	i {
		font-size: 20px !important;
	}
}*/

.wxeo-header-search(@local-wxeo-header-search) when (@local-wxeo-header-search = full-bar) {

	.search-slide {
		display: none;
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: @header_height;
	  line-height: @header_height;
	  z-index: 999;
	  background-color: #ffffff;

	  .after();

	  input {
	    width: 100%;
	    height: inherit;
	    padding: 8px;
	    font-size: 30px !important;
	    line-height: normal !important;
	    float: left;
	    border: none;
	    outline: none;
	  }

	  a {
	    position: absolute;
	    top: 0;
	    right: 0;
	    z-index: 1000;     

	     i {
	      margin: ((@header_height / 2) - 15px) 10px;
	      font-size: 30px !important;
	     }
	  }
	}

/*	.wxeo-search {
	  .wxeo-search-i();
	}*/
}

.wxeo-header-search(@local-wxeo-header-search) when (@local-wxeo-header-search = click-hover) {
	.wxeo-search {
	  /*.wxeo-search-i();*/

	  #search-open-close {
	  	font-size: 20px !important;
	  }

		.search-open {
			display: none;
	    position: absolute;
	    left: -199px;
	    top: 0;
	    width: 230px;
	    height: 34px;
	    line-height: 34px;
	    z-index: 999;

	    .after();

	    input {
	      width: 200px;
	      height: 32px;
	      padding: 8px;
	      font-size: 14px !important;
	      line-height: normal !important; 
	      float: left;
	      border: 1px solid #CCCCCC;
	      outline: none;
	    }
	  }
	}
}

.wxeo-header-search(@local-wxeo-header-search) when (@local-wxeo-header-search = full-search) {
	.wxeo-search {
	  /*.wxeo-search-i();*/

	  &.search-classic {
	    width: 250px;
	    float: right;
	    margin: 18px 10px;
	  }
	}
}



.wxeo-header-search(@wxeo-header-search);





