.wxeo-shortcode-toggle-content-radius(@local-wxeo-shortcode-toggle-content-radius, @local-wxeo-shortcode-toggle-style) when (@local-wxeo-shortcode-toggle-style = snug) {
    
	.wpb_toggle_content {
	 	.border-radius-br(@local-wxeo-shortcode-toggle-content-radius);
	 	.border-radius-bl(@local-wxeo-shortcode-toggle-content-radius);
	}

}

.wxeo-shortcode-toggle-content-radius(@local-wxeo-shortcode-toggle-content-radius, @local-wxeo-shortcode-toggle-style) when (@local-wxeo-shortcode-toggle-style = spaced) {
    
	.wpb_toggle_content {
		.border-radius(@local-wxeo-shortcode-toggle-content-radius);
	}

}


.wxeo-shortcode-toggle-content-radius(@wxeo-shortcode-toggle-content-radius, @wxeo-shortcode-toggle-style);