.wxeo-admin-metabox-form {
	width: 100%;
	display: block;
	padding:  30px 0;
	border-bottom: 1px dashed #EEEEEE;
}

.wxeo-admin-metabox-form:after {
  content: "";
  clear: both;
  display: block;
}

.wxeo-admin-metabox-info {
	float: left;
	width: 25%;
	display: block;
}

.wxeo-admin-metabox-info label {
	font-size: 12px;
	font-weight: bolder;
	text-transform: uppercase;
	padding: 0;
}
.wxeo-admin-metabox-info p {
	font-size: 10px;
	color: #666666;
	margin: 0;
}



.wxeo-admin-metabox-field {
	float: right;
	width: 75%;
	display: block;
}

.wxeo-admin-metabox-field input, .wxeo-admin-metabox-field textarea {
	width: 100%;
}